src/main/webapp/WEB-INF/xsd/reverse-service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/reverse-service" xmlns:tns="http://www.example.org/reverse-service"
	elementFormDefault="qualified">

	<xs:element name="ReverseStringRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inputString" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ReverseStringResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reversedString" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>